[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
rope = "*"
autopep8 = "*"
black = "*"

[packages]
pandas = "*"
pytest = "<=5.0.1"
tqdm = "*"
sklearn = "*"
numpy = "*"
matplotlib = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
