[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
rope = "*"
autopep8 = "*"

[packages]
pandas = "*"
pytest = "<=5.0.1"
tqdm = "*"
sklearn = "*"
numpy = "*"

[requires]
python_version = "3.7"
